body {
    background-color: lightblue;
    color: darkblue;

}


h1 {

    color: black;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    text-decoration: underline;


}

h1:hover {
    color: orange;
}

.loser {
    color: red;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #00ff44, #7700ff);
    border: #00ff44 5px solid;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
}


.box {
    height: 150px;
    border: 5px solid darkblue;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-top: auto;
}

a:active {
    color: red;
}

a:visited {
    color: rgb(255, 0, 208);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}